<template>
  <div class="card">
    <div class="card-header">
      <strong>Thêm món ăn</strong> <small>Form</small>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Tên món</label>
            <input v-model="name"
                   type="text"
                   class="form-control"
                   placeholder="Tên món">
          </div>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Giá</label>
            <input v-model="price"
                   type="text"
                   class="form-control"
                   placeholder="Giá">
          </div>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Tình trạng</label>
            <br/>
            <label class="switch switch-3d switch-primary">
              <input type="checkbox" class="switch-input" v-model="status" checked>
              <span class="switch-label"></span>
              <span class="switch-handle"></span>
            </label>
          </div>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Hình ảnh</label>
            <input v-model="image"
                   type="text"
                   class="form-control"
                   placeholder="Hình ảnh">
          </div>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Mô tả</label>
            <input v-model="description"
                   type="text"
                   class="form-control"
                   placeholder="Mô tả">
          </div>
        </div>
      </div>
      <!--/.row-->
    </div>
    <div class="card-footer">
      <button type="submit"
              v-on:click="add"
              class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Thêm</button>
      <button type="reset"
              class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Huỷ</button>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import Vue from 'vue'
// const store= JSON.parse(localStorage.getItem('user')).store.id;
const store = "58ff8ce024f2c1617b26c0a5";

export default {
  name: 'Createfood',
  data() {
    return {
      addFoodError: null,
      name: null,
      price: null,
      status: null,
      description: null,
      image: null,
      storeId: null,
      me: null,
      user: window.user
    }
  },
  computed: {
    name() {
      return this.$route.name
    },

    list() {
      return this.$route.matched
    }
  },

  methods: {
    add: function (event) {
      if (!this.name) return this.addFoodError = "Bạn chưa nhập tên món"
      this.$apollo.mutate({
        mutation: gql`mutation newfood($input: CreateFoodInput!){
                createFood(input: $input){
                  name
                  price
                  status
                  description
                  image
          }
        }`,
        variables: {
          input: {
            name: this.name,
            price: this.price,
            status: (this.status) ? 'INSTOCK' : 'OUTOFSTOCK',
            description: this.description,
            image: this.image,
            storeId: JSON.parse(localStorage.getItem('user')).store.id
          }
        },
      }).then((res) => {
        // Result
        // this.name = ""
        // this.price = ""
        // this.status = ""
        // this.description = ""
        // this.image = ""

        console.log(res)
        alert ('Tạo món ăn thành công')
      }).catch((error) => {
        // Error
        // this.name = ""
        // this.price = ""
        // this.status = ""
        // this.description = ""
        // this.image = ""
        this.addFoodError = error.message
        console.error(error)
        // We restore the initial user input
      })
    }
  },


}

</script>
