<template>
  <div class="card" >
    <div class="card-header">
      <strong>Sửa thông tin Owner</strong>
    </div>
    <div class="card-block" >
      
      <!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Tên chủ cửa hàng</label>
            <input v-model="ownername" type="text" class="form-control">
          </div>
        </div>
      </div>
      
      <!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Email</label>
            <input v-model="email" type="text" class="form-control" >
          </div>
        </div>
      </div>
      
    </div>
    <div class="card-footer">
      
      <router-link :to="'/OwnerList'">
        <button type="submit"  v-on:click="updateOwner" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Cập nhật </button>
        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Huỷ</button>
      </router-link>
      
    </div>
  </div>
</template>

<script>
  import AppHeader from '../components/Header'
  import Sidebar from '../components/Sidebar'
  import AppAside from '../components/Aside'
  import AppFooter from '../components/Footer'
  import Breadcrumb from '../components/Breadcrumb'
  import gql from 'graphql-tag'
  import Vue from 'vue'

  export default {
    name: 'EditOwner',
    components: {
      AppHeader,
      Sidebar,
      AppAside,
      AppFooter,
      Breadcrumb
    },

    computed: {
      name() {
        return this.$route.name
      },

      list() {
        return this.$route.matched
      }
    },
    methods: {
      updateOwner: function() {
        if(this.ownername || this .email){
          this.$apollo.mutate({
                mutation: gql`
                    mutation{
                      updateOwner(id:"${this.$route.params.index}",input:{
                        email: "${this.email}",
                        name: "${this.ownername}"
                        
                      }){
                        id
                        email
                        name
                        
                      }
                    }`,
                }).then((res) => {

                
                console.log(res)

                }).catch((error) => {

                console.error(error)

                })
        }
      }
    },
    apollo: {
            Owners: {
                query() {
                    return gql`{
                        admin(token:"ADMIN_TOKEN"){
                            me
                            {
                            email
                            }
                            owners{
                            id
                            email
                            name
                            }
                            
                        }
                        }`
                },
                update(data) {
                    data.admin.owners.map((_) => {
                      if(_.id == this.$route.params.index){
                        this.ownername = _.name
                        this.email = _.email
                      }
                    })
                    console.log(data)
                    return data
                }
            }
        },
    data() {
      return {
        
        Owners: null,
        ownername: null,
        email: null
      }
    }
  }

</script>