<template>
  <div class="card">
    <div class="card-header">
      <strong>Sửa món ăn</strong> <small>Form</small>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Tên món</label>
            <input v-model="foodname"
                   type="text"
                   class="form-control"
                   placeholder="Tên món" value>
          </div>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Giá</label>
            <input v-model="price"
                   type="text"
                   class="form-control"
                   placeholder="Giá">
          </div>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Tình trạng</label>
            <br/>
            <label class="switch switch-3d switch-primary">
              <input type="checkbox" class="switch-input" v-model="status" checked>
              <span class="switch-label"></span>
              <span class="switch-handle"></span>
            </label>
          </div>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Hình ảnh</label>
            <input v-model="image"
                   type="text"
                   class="form-control"
                   placeholder="Hình ảnh">
          </div>
        </div>
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Mô tả</label>
            <input v-model="description"
                   type="text"
                   class="form-control"
                   placeholder="Mô tả">
          </div>
        </div>
      </div>
      <!--/.row-->
    </div>
    <div class="card-footer">
      <button type="submit"
              v-on:click="add"
              class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Sửa</button>
      <button type="reset"
              class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Huỷ</button>
    </div>
  </div>
</template>

<script>
  import gql from 'graphql-tag'
  import Vue from 'vue'
  const token = window.localStorage.getItem('token');
  // const store = JSON.parse(localStorage.getItem('user')).store.id;
  // const store = "58ff8ce024f2c1617b26c0a5";
  export default {
      name:'Food',

    apollo: {
        Food: {
            query() {
                  return gql`{
                    owner(token: "${token}"){
                      food(id: "${this.$route.params.id}"){
                         name
                         price
                         status
                         image
                         description
                         category
                         createdAt
                         updatedAt
                      }
                    }
                  }`
              },
              update(data) {
                  return data
              }
          }
      },
      computed: {
          name() {
              return this.$route.name
          },

          list() {
              return this.$route.matched
          }
      },
      data() {
          return {
              editFoodError: null,
              foodname: null,
              price: null,
              status: null,
              description: null,
              image: null,
              storeId: JSON.parse(localStorage.getItem('user')).store.id,
              me: null,
              user: window.user
          }
      },
    methods: {
      add: function (event) {
        if (!this.name) return this.editFoodError = "Bạn chưa nhập tên món"
        this.$apollo.mutate({
          mutation: gql`mutation update($id: ObjID!, $food: UpdateFoodInput!){
            updateFood(id: $id, input: $food){
              name
              price
              status
              image
              description
              category

            }
         }`,
          variables: {
            id: this.$route.params.id,

              food: {
              name: this.foodname,
              price: this.price,
              status: (this.status) ? 'INSTOCK' : 'OUTOFSTOCK',
              description: this.description,
              image: this.image
            }
          },
        }).then((res) => {
          console.log(this.$route.params.id)
          console.log(res)
          alert ('Sửa món ăn thành công')
        }).catch((error) => {
          console.log(this.$route.params.id)
            this.editFoodError = error.message
          console.error(error)
        })
      }
    },


  }

</script>
