<template>
  <div>
    <div class="continer-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">
            <div class="panel-heading">
              <h4>Danh sách foodList</h4>
            </div>
          </div>
          <div class="card-block">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Số thứ tự món ăn</th>
                  <th>Thời gian</th>
                  <th>Tên món ăn</th>
                  <th>Danh mục món ăn</th>
                  <th>Tình trạng món ăn</th>
                  <th>Số lượng</th>
                </tr>
              </thead>
              <tbody v-if="Order == null">
              </tbody>
              <tbody v-else v-for="(food, index) in curOrder.foodList">
                <tr v-if="food.status == 'WAITING'">
                  <td>{{index}}</td>
                  <td>{{food.food.id}}</td>
                  <td>{{food.food.name}}</td>
                  <td>{{food.food.category}}</td>
                  <td>
                    <button v-on:click="changeFoodStatus(food.food.id,2,3,4)" class="btn btn-outline-danger">{{food.status}}</button>
                  </td>
                  <td> {{food.quanlity}} </td>
                </tr>
                <tr v-else >
                  <td>{{index}}</td>
                  <td>{{food.food.id}}</td>
                  <td>{{food.food.name}}</td>
                  <td>{{food.food.category}}</td>
                  <td>
                    <button type="button" class="btn btn-outline-success">{{food.status}}</button>
                  </td>
                  <td> {{food.quanlity}} </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <router-link :to="'/OrderList'">
        <a class="btn bg-faded text-primary border-a-1 py-3 px-5">
          <i class="fa fa-long-arrow-left mr-3">
                      Back To Order List Page
                    </i>
        </a>
      </router-link>

    </div>
    <div class="p-3 media align-items-start">
      <i class="fa fa-commenting-o" aria-hidden="true" style="font-size: 3em;"></i>
      <div class="media-body" style="padding: 15px" v-if="Order != null">
        <h4>Ghi chú</h4>
        <p class="mb-2"> {{curOrder.note}}</p>
      </div>
    </div>
  </div>
</template>

<script>
  import AppHeader from '../components/Header'
  import Sidebar from '../components/Sidebar'
  import AppAside from '../components/Aside'
  import AppFooter from '../components/Footer'
  import Breadcrumb from '../components/Breadcrumb'
  import gql from 'graphql-tag'
  import Vue from 'vue'

  const ownerToken = window.localStorage.getItem('token');
  //const ownerToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1OTA5ZDJjYmJmNjIwMzZlODgzNmRhZDUiLCJpYXQiOjE0OTM4ODA0MjksImV4cCI6MTQ5NDQ4NTIyOX0.-WNv2z1fzECzvbujbxw6saAIgfc9cWp2-Pwaa_ssY_M"
  export default {
    name: 'FoodList',
    components: {
      AppHeader,
      Sidebar,
      AppAside,
      AppFooter,
      Breadcrumb
    },

    computed: {
      name() {
        return this.$route.name
      },

      list() {
        return this.$route.matched
      }
    },
    methods: {
      changeFoodStatus: function (myfoodId, index, orderId, myOrder) {


        console.log("Day la foodList")
        console.log(myfoodId)
      

        this.$apollo.mutate({
          mutation: gql`mutation test($input2:ObjID!,$input: UpdateOrderInput!) {
  updateOrder(id: $input2, input: $input) {
    id
    foodList {
      quanlity
      status
      food {
        name
        status
      }
    }
  }
}
`,
          variables: {
            "input2": this.curOrder.id,
            "input": {
              "foodList": this.curOrder.foodList.map((_) => {
                if (_.food.id == myfoodId)
                  return {
                    foodId: _.food.id,
                    status: 'DOING',
                    quanlity: _.quanlity
                  }
                else
                  return {
                    foodId: _.food.id,
                    status: _.status,
                    quanlity: _.quanlity
                  }
              })
            }
          },
        }).then((data) => {
          // Result
          console.log(data)
        }).catch((error) => {
          // Error
          console.error(error)
          location.reload();
        })



      }



    },
    data() {
      return {
        Order: null,
        curOrder: null
      }
    },
    apollo: {
      Order: {
        query() {
          return gql`{
    owner(token:"${ownerToken}"){
            orders{
              note
              id
              foodList{
                quanlity
                status
                food{
                  id
                  status
                  name
                  price
                  category
                }
              }
            }
          }
        }`
        },
        update(data) {
          
          data.owner.orders.map((_) => {
            if(_.id == this.$route.params.orderId) {
              this.curOrder = (_)
            }
          })
          console.log(this.curOrder)
          
          return data
        }
      }
    }
  }

</script>