<template>
  <div>
    <div class="panel-heading"><h1>Danh sách món ăn</h1></div>
    <table class="table table-hover" >
      <thead>
      <tr>
        <th>Mã món</th>
        <th>Tên món</th>
        <th>Giá</th>
        <th>Tình trạng</th>
        <th>Danh mục</th>
        <th>Chi tiết/Cập nhật</th>
        <th>Xóa</th>

      </tr>
      </thead>

      <tbody v-if="Menu == null">
      </tbody>
      <tbody v-else v-for="(thisfood, index) in Menu.owner.foods">
      <tr class="table-active">
        <td>{{thisfood.id}}</td>
        <td>{{thisfood.name}}</td>
        <td>{{thisfood.price}}</td>
        <td>
          <button v-if="thisfood.category == 'OUTOFSTOCK'"type="button" class="btn btn-danger">OUTOFSTOCK</button>
          <button v-else type="button" class="btn btn-success">INSTOCK</button>
        </td>
        <td>{{thisfood.category}}</td>
        <td>
          <router-link :to="'/Editfood/'+thisfood.id">
            <button type="button" class="btn btn-success">Cập nhật</button>
          </router-link>
        </td>
        <td>
          <button type="submit" v-on:click="deleteFood(thisfood.id)" class="btn btn-outline-warning">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</template>

<script>
    import gql from 'graphql-tag'
    import Vue from 'vue'

    const ownerToken = window.localStorage.getItem('token');
    export default {
        name: 'Menu',
        apollo: {
            Menu: {
                query() {
                    return gql`{
                      owner(token: "${ownerToken}"){
                        foods{
                            id
                            name
                            price
                            status
                            category
                        }
                      }
                    }`
                },
                update(data){
                    console.log(data);
                    return data
                }
            }
        },
        data() {
            return{
                Menu : null
            }
        },
        computed: {
            name() {
                return this.$route.name
            },

            list() {
                return this.$route.matched
            }
        },
        methods: {
            deleteFood: function (id) {
                this.$apollo.mutate({
                    mutation: gql`mutation{
                  removeFood(id: "${id}")
                }`
                }).then((res) => {
                    location.reload();
                    console.log(res)
                }).catch((error) => {
                    console.log(error)
                })
            }
        }
    }
</script>
