<template>
  <div>
    <div class="continer-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">
            <div class="panel-heading">
              <h4>Danh sách order</h4>
            </div>
          </div>
          <div class="card-block">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Số thứ tự order</th>
                  <th>Mã order</th>
                  <th>Số món</th>
                  <th>Tình trạng order</th>
                  <th>Chi tiết</th>
                  <th>Xóa</th>
                </tr>
              </thead>

              <tbody v-if="Order == null">
              </tbody>
              <tbody v-else v-for="(thisorder, index) in Order.owner.orders">
                <tr v-if="changeOrderStatus(index)" >
                  <td>{{index + 1}}</td>
                  <td>{{thisorder.id}}</td>
                  <td>{{thisorder.foodList.length}}</td>
                  <td>
                    <button type="button" class="btn btn-outline-danger" v-if="changeOrderStatus(index)">WAITING</button>
                    <button type="button" class="btn btn-outline-success" v-else>DOING</button>
                  </td>
                  <td>
                    <router-link :to="'/FoodList/'+thisorder.id">
                      <button type="button" class="btn btn-outline-primary">Chi tiết</button>

                    </router-link>
                  </td>
                  <td>
                    <button type="submit" v-on:click="deleteOrder(thisorder.id)" class="btn btn-outline-warning">Delete</button>
                  </td>
                </tr>
                <tr v-else>
                  <td>{{index + 1}}</td>
                  <td>{{thisorder.id}}</td>
                  <td>{{thisorder.foodList.length}}</td>
                  <td>
                    <button type="button" class="btn btn-outline-danger" v-if="changeOrderStatus(index)">WAITING</button>
                    <button type="button" class="btn btn-outline-success" v-else>DOING</button>
                  </td>
                  <td>
                    <router-link :to="'/FoodList/'+thisorder.id">
                      <button type="button" class="btn btn-outline-primary">Chi tiết</button>
                    </router-link>
                  </td>
                  <td>
                    <button type="submit" v-on:click="deleteOrder(thisorder.id)" class="btn btn-outline-warning">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>

<script>
  import gql from 'graphql-tag'
  import Vue from 'vue'

  const ownerToken = window.localStorage.getItem('token');
  //const ownerToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1OTA5ZDJjYmJmNjIwMzZlODgzNmRhZDUiLCJpYXQiOjE0OTM4ODA0MjksImV4cCI6MTQ5NDQ4NTIyOX0.-WNv2z1fzECzvbujbxw6saAIgfc9cWp2-Pwaa_ssY_M"
  export default {
    name: 'OrderList',
    computed: {
      name() {
        return this.$route.name
      },

      list() {
        return this.$route.matched
      }
    },
    methods: {
      deleteOrder: function (orderId) {

        this.$apollo.mutate({
          mutation: gql`mutation {
            removeOrder(id:"${orderId}")
          }`,
        }).then((res) => {

          location.reload();
          console.log(res)

        }).catch((error) => {

          console.error(error)

        })
      },
      changeOrderStatus: function (index) {
        // Return true if all is waiting
        var t = true
        this.Order.owner.orders[index].foodList.map((_) => {
          if (_.status == "DOING")
            t = false
        })

        return t
      },
      checkOrderStatus: function (index) {
        var t = true
        this.Order.owner.orders[index].foodList.map((_) => {
          if (_.status == "DOING")
            t = false
        })

        return t
      }
    },
    apollo: {
      Order: {
        query() {
          return gql`{
    owner(token:"${ownerToken}"){
            orders{
              note
              id
              foodList{
                quanlity
                status
                food{
                  id
                  status
                  name
                  price
                  category
                }
              }
            }
          }
        }`
        },
        update(data) {
          console.log(data)
          return data
        }
      }
    },
    data() {
      return {
        Order: null
      }
    }
  }

</script>