<template>
    <div>
        <div class="continer-fluid">
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <div class="panel-heading">
                            <h4>Danh sách owner</h4>
                        </div>
                    </div>
                    <div class="card-block">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Số thứ tự </th>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Tên</th>
                                    <th>Sửa</th>
                                    <th>Xóa </th>
                                </tr>
                            </thead>
                            <tbody v-if="Admin == null">

                            </tbody>
                            <tbody v-else v-for="(curOwner, index) in Admin.admin.owners" >

                                <tr v-if="curOwner.name != 'Admin Owner'">
                                    <td>{{index +1}}</td>
                                    <td>{{curOwner.id}}</td>
                                    <td>{{curOwner.email}}</td>
                                    <td>{{curOwner.name}}</td>
                                    <td>
                                        <router-link :to="'/EditOwner/'+curOwner.id">
                                            <button type="button" class="btn btn-outline-warning">Sửa</button>
                                        </router-link>
                                    </td>
                                    <td>
                                        <button type="submit" v-on:click="deleteOwner(curOwner.id)" class="btn btn-outline-danger">Delete</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
    import gql from 'graphql-tag'
    import Vue from 'vue'

    export default {
        name: 'Admin',
        computed: {
            name() {
                return this.$route.name
            },

            list() {
                return this.$route.matched
            }
        },
        methods: {
            deleteOwner: function (ownerId) {

                this.$apollo.mutate({
                mutation: gql`mutation {
                    removeOwner(id:"${ownerId}")
                }`,
                }).then((res) => {

                location.reload();
                console.log(res)

                }).catch((error) => {

                console.error(error)

                })
            }
        },
        apollo: {
            Admin: {
                query() {
                    return gql`{
                        admin(token:"ADMIN_TOKEN"){
                            me
                            {
                            email
                            }
                            owners{
                            id
                            email
                            name
                            }
                            
                        }
                        }`
                },
                update(data) {
                    console.log(data)
                    return data
                }
            }
        },
        data() {
            return {
                Admin: null
            }
        }
    }

</script>