<template>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <router-link :to="'/dashboard'" class="nav-link"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></router-link>
        </li>
        <li class="nav-title">
          Cửa hàng
        </li>
        <li class="nav-item">
          <router-link :to="'/Store'" class="nav-link" exact><i class="icon-pie-chart"></i> Sửa thông tin</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="'/OrderList'" class="nav-link" exact><i class="icon-notebook"></i> Danh sách order</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="'/CreateFood'" class="nav-link" exact><i class="icon-check"></i> Tạo món ăn mới</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="'/Menu'" class="nav-link" exact><i class="icon-notebook"></i> Danh sách món</router-link>
        <li class="nav-item" v-if="checkAdmin()">
          <router-link :to="'/OwnerList'"  class="nav-link" exact><i class="icon-check"></i> Danh sách Owner</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>
<script>
import Vue from 'vue'
import gql from 'graphql-tag'
export default {
  name: 'sidebar',
  methods: {
    checkAdmin () {
      const user = JSON.parse(window.localStorage.getItem("user"));
      if(user){
        if(user.name == 'Admin Owner'){
          return true
        }
      }
      return false
    },
    handleClick (e) {
      e.preventDefault()
      e.target.parentElement.classList.toggle('open')
    }
    
  }
}
</script>

<style lang="css">
  .nav-link {
    cursor:pointer;
  }
</style>
