<template>
  <div class="card">
    <div class="card-header">
      <strong>Sửa thông tin cửa hàng</strong> <small>{{mystore.id}}</small>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-7">
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-4 control-label"
                  for="textinput">Store Name</label>
            <div class="col-sm-10">
              <input type="text"
                    placeholder="Store Name"
                    class="form-control"
                    v-model="name">
            </div>
          </div>
        
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-4 control-label"
                  for="textinput">Cover</label>
            <div class="col-sm-10">
              <input type="text"
                    placeholder="Cover URL"
                    class="form-control"
                    v-model="cover">
            </div>
          </div>
        
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label"
                  for="textinput">Address</label>
            <div class="col-sm-10">
              <input type="text"
                    placeholder="Your adress"
                    class="form-control"
                    v-model="address">
            </div>
          </div>
        
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label"
                  for="textinput">Description</label>
            <div class="col-sm-10">
              <textarea type="text"
                        placeholder="Your Description"
                        class="form-control"
                        v-model="description"></textarea>
            </div>
        
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-6 control-label"
                  for="textinput">Phone number</label>
            <div class="col-sm-10">
              <input type="text"
                    placeholder="Your phone number"
                    class="form-control"
                    v-model="phone">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-6 control-label"
                  for="textinput">Open time</label>
            <div class="col-sm-10">
              <input type="text"
                    placeholder="Open time"
                    class="form-control"
                    v-model="openInfo">
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <h4>Mã QR của cửa hàng</h4>
          <div class="qr-img center-block">
            <img v-if="mystore" :src="'https://api.qrserver.com/v1/create-qr-code/?size=200x200&data='+encodeURIComponent('Chọn món ngon tại http://localhost:8080/#/checkin/'+mystore.id)" alt="QR">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button v-on:click="updateStore"
              type="submit"
              class="btn btn-primary">Save</button>
      <button v-if="mystore == nulls" v-on:click="createStore"
              type="submit"
              class="btn btn-primary">Create</button>
      <button type="reset"
              class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Huỷ</button>
    </div>
  </div>
</template>

<script>
import AppHeader from '../components/Header'
import Sidebar from '../components/Sidebar'
import AppAside from '../components/Aside'
import AppFooter from '../components/Footer'
import Breadcrumb from '../components/Breadcrumb'
import gql from 'graphql-tag'
import Vue from 'vue'

//Accout demo 
//const ownerToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1OTA5ZDJjYmJmNjIwMzZlODgzNmRhZDUiLCJpYXQiOjE0OTM4ODA0MjksImV4cCI6MTQ5NDQ4NTIyOX0.-WNv2z1fzECzvbujbxw6saAIgfc9cWp2-Pwaa_ssY_M"
//Account test
const ownerToken = window.localStorage.getItem('token');
//const ownerToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1OTBjODJlMzJmMzI2NDRmMzYyOTg2NGUiLCJpYXQiOjE0OTM5OTIxNzEsImV4cCI6MTQ5NDU5Njk3MX0.JD-MumX_xKK8-spSCdPBF__Ei9m-dK-BKJSbBgB-WmE"
export default {
  name: 'Store',
  components: {
    AppHeader,
    Sidebar,
    AppAside,
    AppFooter,
    Breadcrumb
  },

  computed: {
    name() {
      return this.$route.name
    },

    list() {
      return this.$route.matched
    }
  },
  apollo: {
    Store: {
      query() {
        return gql`{
    owner(token: "${ownerToken}"){
            me{
              id
            },
            store{
              id
              name
              description
              cover
              address
              phone
              openInfo
            }
  }
  }`
      },
      update(data) {
        console.log(data.owner.store)
        if (data.owner.store != null) {
          this.name = data.owner.store.name
          this.description = data.owner.store.description
          this.cover = data.owner.store.cover
          this.address = data.owner.store.address
          this.phone = data.owner.store.phone
          this.mystore = data.owner.store
          this.openInfo = data.owner.store.openInfo
        }
        this.ownerId = data.owner.me.id
        console.debug(this.ownerId)
        return data
      }
    }
  },
  data() {
    return {
      Order: null,
      storeId: null,
      name: null,
      description: null,
      cover: null,
      address: null,
      phone: null,
      mystore: null,
      ownerId: null,
      openInfo: null
    }
  },
  methods: {
    updateStore: function (event) {
      //Mutation
      this.$apollo.mutate({
        mutation: gql` mutation test($input: ObjID!,$input2: UpdateStoreInput!){
                  updateStore(id:$input,input:$input2){
                    id
                    name
                    description
                    cover
                    address
                    phone
                    openInfo
                  }
                }`,
        variables: {

          "input": this.mystore.id,
          "input2": {
            "name": this.name,
            "description": this.description,
            "cover": this.cover,
            "address": this.address,
            "phone": this.phone,
            "openInfo": this.openInfo,
          }
        },
      }).then((response) => {
        // Result
        console.log(response)
      }).catch((error) => {
        // Error
        // When same email but different password
        console.error(error)
      })
    },
    createStore: function (event) {
      if (true) {
        //Mutation
        this.$apollo.mutate({
          mutation: gql` mutation test($input: CreateStoreInput!){
                          createStore(input:$input){
                            id
                            name
                            description
                            cover
                            address
                            phone
                          }
                        }`,
          variables: {
            "input": {
              "name": this.name,
              "description": this.description,
              "cover": this.cover,
              "address": this.address,
              "phone": this.phone
            }
          },
        }).then((response) => {
          // Result
          this.storeId = response.data.createStore.id
          console.debug(response.data.createStore.id)
        }).catch((error) => {
          // Error
          // When same email but different password
          console.error(error)
        })
        //Mutation
        this.$apollo.mutate({
          mutation: gql` mutation test($input: ObjID!,$input2: UpdateOwnerInput!){
                            updateOwner(id:$input,input:$input2){
                              id
                              name
                              
                            }
                          }`,
          variables: {
            "input": this.ownerId,
            "input2": {
              "storeId": this.storeId
            }
          },
        }).then((response) => {
          // Result
          console.debug(response)
          console.debug(this.ownerId)
          console.debug(this.storeId)
        }).catch((error) => {
          // Error
          // When same email but different password
          console.error(error)
          console.error(this.ownerId)
        })
      }

    }
  }
}
</script>
