<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-block">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                {{user}}
                <div class="input-group mb-3">
                  <span class="input-group-addon">@</span>
                  <input type="text" class="form-control" placeholder="Email" v-model="email">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" class="form-control" placeholder="Password" v-model="password">
                </div>
                <div class="row">
                  <p class="text-danger">{{error}}</p>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" v-on:click="login" class="btn btn-primary px-4">Login</button>
                  </div>
                  <!--<div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-block text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Create an account to create store, organize menu and view order food</p>
                  
                  <router-link :to="{name: 'Register'}" class="btn btn-primary active mt-3">Register Now!</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import gql from 'graphql-tag'

  export default {
    name: 'Login',
    data() {
      return {
        email: '',
        password: '',
        error: '',
        user: window.user
      }
    },
    methods: {
      login: function (event) {
        if (!this.email || !this.password)
          return this.error = 'Bạn chưa nhập Email hoặc Mật khẩu'
        this.$apollo.query({
          query: gql`query login($input: LoginInput!){
          ownerToken(input:$input) 
        }`,
          variables: {
            "input": {
              "email": this.email,
              "password": this.password
            }
          },
        }).then(async (response) => {
          // Result
          window.localStorage.setItem('token', response.data.ownerToken)
          const userInfo = await this.$apollo.query({
            query: gql`{
            owner (token: "${response.data.ownerToken}") {
              me {
                id
                email
                name
                store {
                  id
                }
              }
            }
          }`
          })
          window.localStorage.setItem('user', JSON.stringify(userInfo.data.owner.me))
          this.$router.push({ name: 'Home' })
        }).catch((error) => {
          // Error
          this.error = error.message
        })
      },
    }
  }

</script>