<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-block p-4">
              <h1>Register</h1>
              <p class="text-muted">Create your account</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" v-model="signUpName" placeholder="Username">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" v-model="signUpEmail" placeholder="Email">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" v-model="signUpPassword" placeholder="Password">
              </div>

              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" v-model="signUpPasswordConfirm" placeholder="Repeat password">
              </div>
              <h4 class="error">{{signUpError}}</h4>
              <button type="button" v-on:click="signup" class="btn btn-block btn-success">Create Account</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import gql from 'graphql-tag'
  import Vue from 'vue'
  export default {
    name: 'Register',
    data() {
      return {
        signUpError: null,
        signUpEmail: null,
        signUpName: null,
        signUpPassword: null,
        signUpPasswordConfirm: null,
      }
    },
    methods: {
      signup: function (event) {
        if (!this.signUpEmail || !this.signUpPassword || !this.signUpPasswordConfirm)
          return this.signUpError = 'Bạn chưa nhập Email hoặc Mật khẩu'
        if (this.signUpPassword != this.signUpPasswordConfirm)
          return this.signUpError = 'Mật khẩu không trùng khớp'

        //Mutation
        this.$apollo.mutate({
          mutation: gql` mutation test($input: CreateOwnerInput!){
                          createOwner(input:$input){
                            id
                            email
                            name
                            createdAt
                            updatedAt
                          }
                        }`,
          variables: {

            "input": {
              "email": this.signUpEmail,
              "name": this.signUpName,
              "password": this.signUpPassword
            }
          },
        }).then((response) => {
          // Result
          this.signUpEmail = ""
          this.signUpPassword = ""
          this.signUpPasswordConfirm = ""
          this.signUpError = "Success"
          window.localStorage.clear()
          this.$router.push({ name: 'Login'})
        }).catch((error) => {
          // Error
          // When same email but different password
          this.signUpError = error.message
          this.signUpName =""
          this.signUpPassword = ""
          this.signUpPasswordConfirm = ""
        })


      }
    }
  }

</script>