<template>
    <section class="bg-primary" id="about" style="background-image: url('/static/img/background.jpg')">
        <div class="container" >
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Trở thành cửa hàng ăn thông minh thật dễ dàng </h2>
                    <p class="text-faded">GimmeFood đem đến cho bạn giải pháp cho các cửa hàng ăn.</p>
                    <a href="http://localhost:8090/#/pages/register" target="blank" class="page-scroll btn btn-default btn-xl sr-button">Đăng ký cửa hàng</a>
                </div>
            </div>
        </div>
    </section>
</template>
<style scoped src="../../static/css/creative.min.css"></style>
<script>
export default {
  name: 'about',
}
</script>
<style scoped>
#about {
    background-size: cover;
}
</style>
