<template>
  <div>
    <cover :store-info="storeInfo"></cover>
    <select-table></select-table>
    <contact :contact-info="contactInfo"></contact>
    <bottom-info></bottom-info>
    
  </div>
</template>
<script>
import gql from 'graphql-tag'
import { filter } from 'graphql-anywhere'
import Cover from './Cover'
import SelectTable from './SelectTable'
import BottomInfo from './BottomInfo'
import Contact from './Contact'

export default {
  name: 'CheckIn',
  apollo: {
    store: {
      query() {
        return gql` {
          customer {
            store(id: "${this.$route.params.storeId}") {
              ...StoreInfo
              ...Contact
            }
          }
        }
        ${Cover.fragments}
        ${Contact.fragments}
        `
      },
      update(data) {
        return data.customer.store
      },
    }
  },
  data() {
    return {
      store: null,
    }
  },
  computed: {
    storeInfo() {
      return !!this.store && filter(Cover.fragments, this.store)
    },
    contactInfo() {
      return !!this.store && filter(Contact.fragments, this.store)
    }
  },
  components: {
    Cover,
    SelectTable,
    BottomInfo,
    Contact
  }
}
</script>