<template>
  <!-- contact -->
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="header-h">Thông tin cửa hàng</h1>
          <p class="header-p">{{contactInfo.description}}</p>
        </div>
      </div>
      <div class="row msg-row">
        <div class="col-md-6 col-sm-4 mr-15" v-if="contactInfo.phone">
          <div class="media-2">
            <div class="media-left">
              <div class="contact-phone bg-1 text-center"><span class="phone-in-talk fa fa-phone"></span></div>
            </div>
            <div class="media-body">
              <h4 class="dark-blue regular">Số điện thoại của cửa hàng</h4>
              <p class="light-blue regular alt-p">{{contactInfo.phone}} - <span class="contacts-sp"></span></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-4 mr-15">
          <div class="media-2">
            <div class="media-left">
              <div class="contact-email bg-14 text-center"><span class="hour-icon fa fa-clock-o"></span></div>
            </div>
            <div class="media-body">
              <h4 class="dark-blue regular">Giờ mở cửa</h4>
              <p class="light-blue regular alt-p"> {{contactInfo.openInfo}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / contact -->
</template>
<script>
import gql from 'graphql-tag'
// TODO: ADD openInfo to this
export default {
  name: 'Contact',
  props: ['contactInfo'],
  fragments: gql`fragment Contact on Store {
    id
    phone
    openInfo
    description
  }`
}
</script>