<template>
       <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Gimme Food!</h2>
                    <hr class="primary">
                    <p>Nhóm 3 - TTCNPM
					</br>
					Trường Đại học Bách khoa TP.HCM</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">support@gimmefood.com</a></p>
                </div>
            </div>
        </div>
    </section>
</template>
<style scoped src="../../static/css/creative.min.css"></style>
<script>
export default {
  name: 'contact',
}
</script>


