<template>
    <section id="event">
        <div class="bg-color section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center" style="padding:60px;">
                      <h1 class="header-h">Thực đơn</h1>
                      <p class="header-p">Decorations 100% complete here</p>
                    </div>
                    <div class="col-md-6" style="padding-bottom:60px;" v-for="food in foodList.menu">
                        <div class="item active left row">
                          <div class="col-md-6 col-sm-6 left-images">
                           <img :src="food.image" class="img-responsive">
                         </div>
                         <div class="col-md-6 col-sm-6 details-text">
                          <div class="content-holder">
                            <h2>{{food.name}}</h2>
                            <div class="food-description">{{food.description}}</div>
                            <address>
                              <strong>Giá: </strong>
                              {{food.price | money}} đ
                            </address>
                            <button class="btn btn-imfo btn-read-more" href="events-details.html" v-on:click="addFood(food.id)">Gọi món này!</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="center">
                  <i class="fa fa-chevron-up orange" aria-hidden="true"></i>
                  <a onclick="$('#menu-list').animatescroll();" class="action">Đã chọn món xong? Gọi món ngay!</a>
                </div>
            </div>
        </div>
        <vue-toast ref='toast'></vue-toast>
    </section>
</template>
<script>
import gql from 'graphql-tag'
import { findIndex, find } from 'lodash'
import { money } from '../ultis/filter'
import 'vue-toast/dist/vue-toast.min.css'
import VueToast from 'vue-toast'

export default {
  name: 'FoodList',
  props: ['foodList', 'foodOrder'],
  data() {
    return {

    }
  },
  updated() {
    window.jQuery('.food-description').slimScroll({
        height: '90px'
    });
  },
  fragments: gql`fragment ListFood on Store {
    menu {
      id
      name
      price
      status
      image
      description
      category
    }
  }`,
  methods: {
    addFood: function (foodId) {
      const index = findIndex(this.foodOrder, { foodId })
      const foodSelected = find(this.foodList.menu, { id: foodId })
      if (index >= 0)
        this.foodOrder[index].quanlity += 1
      else 
        this.foodOrder.push({ foodId, name: foodSelected.name, category: foodSelected.category, price: foodSelected.price, quanlity: 1 })
      
      const toast = this.$refs.toast
      
      toast.showToast(`+1 <strong>${foodSelected.name}</strong>`, { theme: 'success' })
    }
  },
  filters: {
    money,
  },
  components: { 
    VueToast
  },
};
</script>
<style>
.food-description {
  margin-bottom: 10px;
}
.center {
  text-align: center;
}
.action {
  padding-top: 20px;
  font-size: 1.8em; 
  font-family: 'Lobster', sans-serif;
  color: #FFB03B;
  cursor: pointer;
}
.orange {
  color: #FFB03B;
}
.action:hover {
  color: #FFB03B;
}
</style>