<template>
  <!--banner-->
  <section id="banner">
    <div class="bg-color">
      <header id="header">
        <div class="container">
          <div id="mySidenav"
               class="sidenav">
            <a href="javascript:void(0)"
               class="closebtn"
               onclick="closeNav()">&times;</a>
            <a href="#about">About</a>
            <a href="#event">Event</a>
            <a href="#menu-list">Menu</a>
            <a href="#contact">Book a table</a>
          </div>
          <!-- Use any element to open the sidenav -->
          <span onclick="openNav()"
                class="pull-right menu-icon">☰</span>
        </div>
	      <div class="container">
        <div class="row">
          <div class="inner text-center">
            <h1 class="logo-name">GimmeFood</h1>
            <h2>Chào mừng bạn đến với GimmeFood</h2>
			<p> GimmeFood là giải pháp hỗ trợ các cửa hàng xây dựng 1 trang web có thể tương tác với khách hàng, dễ quản lý và giao diện đẹp mắt</p>
		
            <a v-if="me && me.email" class="btn btn-lg btn-login">
              <span class="main">Xin chào {{ me.email }}</span>
              <br />
              <em class="detail">Chúc bạn ăn ngon miệng</em>
            </a>
            <a v-else class="btn btn-lg btn-login" data-toggle="modal" data-target="#loginModal">
                <span class="main"> Đăng ký</span>
                <br />
                <em class="detail">Có tài khoản giúp bạn dễ dàng lưu lại lịch sử hàng/quán của mình!</em>
            </a>
          </div>
		  	 
        </div>
      </div>

	  <div class="modal fade"
         id="loginModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg"
           role="document">
        <div class="modal-content text-center row">
            <h2>Đăng ký</h2>
            <img src="/static/img/sign-up.png"
                 alt="">
            <h4>Đăng ký cực kì dễ dàng</h4>
            <h4 class="error">{{signUpError}}</h4>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="email"
                         class="form-control"
                         id="exampleInputEmail12"
                         v-model="signUpEmail"
                         placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password"
                         class="form-control"
                         id="exampleInputPassword12"
                         v-model="signUpPassword"
                         placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password"
                         class="form-control"
                         id="exampleInputPassword13"
                         v-model="signUpPasswordConfirm"
                         placeholder="Confirm password">
                </div>
                <div id="foo2"
                     v-on:click="signup">
  
                  <button type="button"
                          class="btn btn-read-more">Đăng ký</button>
  
                </div>
  
              </form>
            </div>
        </div>
      </div>
    </div>
      </header>
	  </div>
  </section>
  <!-- / banner -->
</template>
<script>
import gql from 'graphql-tag'
import Vue from 'vue'
const token = window.localStorage.getItem('token');
window.user = {}

export default {
  name: 'Home',
  props: ['storeInfo', 'cusInfo'],
  data() {
    return {
      signInError: null,
      signInEmail: null,
      signInPassword: null,
      signUpError: null,
      signUpEmail: null,
      signUpPassword: null,
      signUpPasswordConfirm: null,
      me: null,
      user: window.user
    }
  },
  apollo: {
    me: {
      query() {
        return gql`{
          customer (token: "${token}") {
            me {
              id
              email
            }
          }
        }`
      },
      update(data) {
        this.user = { ...data.customer.me, token }
        return data.customer.me
      }
    }
  },
  methods: {
    login: function (event) {
      if (!this.signInEmail || !this.signInPassword)
        return this.signInError = 'Bạn chưa nhập Email hoặc Mật khẩu'
      this.$apollo.query({
        query: gql`query login($input: LoginInput!){
          customerToken(input:$input) 
        }`,
        variables: {
          "input": {
            "email": this.signInEmail,
            "password": this.signInPassword
          }
        },
      }).then( async (response) => {
        // Result
        window.localStorage.setItem('token', response.data.customerToken);
        $('#loginModal').modal('hide')

        const userInfo = await this.$apollo.query({
          query: gql`{
            customer (token: "${response.data.customerToken}") {
              me {
                id
                email
              }
            }
          }`
        })
        window.localStorage.setItem('user', JSON.stringify(userInfo.data.customer.me))
        window.location.reload()
      }).catch((error) => {
        // Error
        this.signInError = error.message
      })
    },
    signup: function (event) {
      if (!this.signUpEmail || !this.signUpPassword || !this.signUpPasswordConfirm)
        return this.signUpError = 'Bạn chưa nhập Email hoặc Mật khẩu'
      if (this.signUpPassword != this.signUpPasswordConfirm)
        return this.signUpError = 'Mật khẩu không trùng khớp'
		if (this.signUpPassword.length<8)
		return this.signInError='Mật khẩu quá ngắn, mật khẩu cần lớn hơn 8 kí tự'
        //Mutation
        this.$apollo.mutate({
          mutation: gql` mutation test2($input: CreateCustomerInput!){
                  createCustomer(input:$input){
                    id
                    email
                    createdAt
                    updatedAt
                  }
                }`,
          variables: {

                "input": {
                  "email": this.signUpEmail,
                  "password": this.signUpPassword
                }
              },
          }).then((response) => {
              // Result
              this.signUpEmail = ""
              this.signUpPassword = ""
              this.signUpPasswordConfirm = ""
              this.signUpError = "Success"
            }).catch((error) => {
                // Error
                // When same email but different password
                this.signUpError = error.message
                this.signUpPassword = ""
                this.signUpPasswordConfirm = ""
              })         
        

      }
  },
  fragments: gql`fragment StoreInfo on Store {
    id
    name
    description
    cover
  }
  `,
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
