<template>
  <div>
   <mainNav></mainNav>
   <about></about>
   <services></services>
   <portfolio></portfolio>
   <contact></contact>
    
  </div>
</template>
<style scoped src="../../static/css/creative.min.css"></style>

<script>

import mainNav from './mainNav'
import about from './about'
import services from './services'
import portfolio from './portfolio'
import contact from './contact_home'
export default {

  name: 'Home',
  components: {
    mainNav,
    about,
    services,
    portfolio,
    contact
  },
}
</script>
