<template>
 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid" style="background-image: url('/static/img/background.jpg')">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">GimmeFood </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Giới Thiệu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Tính Năng</a>
                    </li>
                    <li>
                         <a class="page-scroll" data-toggle="modal" data-target="#portfolio">Đăng kí</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Liên Hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</template>
<style scoped src="../../static/css/creative.min.css"></style>
<script>
export default {
  name: 'mainNav',

}
</script>
<style scoped>
.container-fluid {
    background-size: cover;
}
</style>

