<template>
  <!-- menu -->
  <section id="menu-list" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Order của bạn</h1>
        </div>
        <!--<div class="col-md-12  text-center gallery-trigger">
          <ul>
            <li><a class="filter" data-filter="all">Show All</a></li>
            <li v-for="cat in listCategory"><a class="filter" :data-filter="'.'+cat">{{cat}}</a></li>
          </ul>
        </div>-->
        <div id="Container">
          <div class="menu-restaurant total" v-for="(menu, index) in orderInfo.foodList" data-myorder="2">
            <span class="clearfix">
              <a class="menu-title">{{menu.food.name}}</a>
              <span style="left: 160px; right: 100px;" class="menu-line"></span>
              <span class="menu-price">{{menu.quanlity}}x{{menu.food.price | money}} đ</span>
            </span>
            <span class="menu-subtitle">{{menu.status}}</span>
          </div>
          <div class="menu-restaurant total">
            <span class="clearfix">
              <a class="menu-title">Tổng cộng</a>
              <span style="left: 160px; right: 100px;" class="menu-line"></span>
              <span class="menu-price">{{totalPrice | money}} đ</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="container action">
      <div class="center help ">
        <h2 class="direct">Xin quý khách vui lòng chờ để chúng tôi phục vụ món ăn</h2>
      </div>
    </div>
  </section>
  <!--/ menu -->
</template>

<style>
.total {
  width: 100%;
}
.direct {
  color: #797B92;
}
</style>

<script>
import gql from 'graphql-tag'
import { money } from '../ultis/filter'

export default {
  name: 'OrderDetail',
  props: ['orderInfo'],
  filters: {
    money,
  },
  computed: {
    totalPrice() {
      let total = 0;
      if (this.orderInfo) {
        this.orderInfo.foodList.forEach(function(menu) {
          total += menu.food.price*menu.quanlity
        });
      }
      return total;
    }
  },
  fragments: gql`fragment OrderInfo on Order {
    id
    foodList {
      quanlity
      status
      food {
        id
        name
        price
      }
    }
    note
  }
  `,
}
</script>
