<template>
  <div>
    <cover :store-info="storeInfo"></cover>
    <order-detail :order-info="orderInfo"></order-detail>
    <contact :contact-info="contactInfo"></contact>
    <bottom-info></bottom-info>
    
  </div>
</template>
<script>
import gql from 'graphql-tag'
import { filter } from 'graphql-anywhere'
import Cover from './Cover'
import OrderDetail from './OrderDetail'
import BottomInfo from './BottomInfo'
import Contact from './Contact'

export default {
  name: 'Order',
  props: ['orderId'],
  apollo: {
    order: {
      query() {
        return gql` {
          customer {
            order(id: "${this.$route.params.orderId}") {
              ...OrderInfo
              store {
                ...StoreInfo
                ...Contact
              }
            }
          }
        }
        ${OrderDetail.fragments}
        ${Cover.fragments}
        ${Contact.fragments}
        `
      },
      pollInterval: 1000,
      update(data) {
        console.log (data)
        return data.customer.order
      },
    }
  },
  data() {
    return {
      order: null,
    }
  },
  computed: {
    orderInfo() {
      return !!this.order && filter(OrderDetail.fragments, this.order)
    },
    storeInfo() {
      return !!this.order && filter(Cover.fragments, this.order.store)
    },
    contactInfo() {
      return !!this.order && filter(Contact.fragments, this.order.store)
    }
  },
  components: {
    Cover,
    OrderDetail,
    BottomInfo,
    Contact
  }
}
</script>