<template>
    <section class="modal" id="portfolio" tabindex="1"
         aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg"
           role="document">
        <div class="modal-content text-center row">
          <div class="col-sm-6">
            <h2>Đăng nhập</h2>
            <img src="/static/img/sign-in.png"
                 alt="">
            <h4>Đăng nhập để có thể lưu lịch sử ăn uống của bạn</h4>
            <h4 class="error">{{signInError}}</h4>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="email"
                         class="form-control"
                         id="exampleInputEmail1"
                         v-model="signInEmail"
                         placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password"
                         class="form-control"
                         id="exampleInputPassword1"
                         v-model="signInPassword"
                         placeholder="Password">
                </div>
                <div id="foo"
                     v-on:click="login">
                  <button type="button"
                          class="btn btn-read-more">Đăng nhập</button>
                </div>
  
              </form>
            </div>
          </div>
          <div class="col-sm-6">
            <h2>Đăng ký</h2>
            <img src="/static/img/sign-up.png"
                 alt="">
            <h4>Đăng ký cực kì dễ dàng</h4>
            <h4 class="error">{{signUpError}}</h4>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="email"
                         class="form-control"
                         id="exampleInputEmail12"
                         v-model="signUpEmail"
                         placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password"
                         class="form-control"
                         id="exampleInputPassword12"
                         v-model="signUpPassword"
                         placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password"
                         class="form-control"
                         id="exampleInputPassword13"
                         v-model="signUpPasswordConfirm"
                         placeholder="Confirm password">
                </div>
                <div id="foo2"
                     v-on:click="signup">
  
                  <button type="button"
                          class="btn btn-read-more">Đăng ký</button>
  
                </div>
  
              </form>
            </div>
          </div>
        </div>
      
    </div>
		
    </section>
</template>
<script>
import gql from 'graphql-tag'
import Vue from 'vue'

export default {
  name: 'portfolio',
   props: ['storeInfo', 'cusInfo'],
  data() {
    return {
      signInError: null,
      signInEmail: null,
      signInPassword: null,
      signUpError: null,
      signUpEmail: null,
      signUpPassword: null,
      signUpPasswordConfirm: null,
      me: null,
      user: window.user
    }
  },
  methods: {
   login: function (event) {
      if (!this.signInEmail || !this.signInPassword)
        return this.signInError = 'Bạn chưa nhập Email hoặc Mật khẩu'
      this.$apollo.query({
        query: gql`query login($input: LoginInput!){
          customerToken(input:$input) 
        }`,
        variables: {
          "input": {
            "email": this.signInEmail,
            "password": this.signInPassword
          }
        },
      }).then( async (response) => {
        // Result
        window.localStorage.setItem('token', response.data.customerToken);
        $('#loginModal').modal('hide')

        const userInfo = await this.$apollo.query({
          query: gql`{
            customer (token: "${response.data.customerToken}") {
              me {
                id
                email
              }
            }
          }`
        })
        window.localStorage.setItem('user', JSON.stringify(userInfo.data.customer.me))
        this.signInError ="Success"
      }).catch((error) => {
        // Error
        this.signInError = error.message
      })
    },
    signup: function (event) {
      if (!this.signUpEmail || !this.signUpPassword || !this.signUpPasswordConfirm)
        return this.signUpError = 'Bạn chưa nhập Email hoặc Mật khẩu'
      if (this.signUpPassword != this.signUpPasswordConfirm)
        return this.signUpError = 'Mật khẩu không trùng khớp'

        //Mutation
        this.$apollo.mutate({
          mutation: gql` mutation test2($input: CreateCustomerInput!){
                  createCustomer(input:$input){
                    id
                    email
                    createdAt
                    updatedAt
                  }
                }`,
          variables: {

                "input": {
                  "email": this.signUpEmail,
                  "password": this.signUpPassword
                }
              },
          }).then((response) => {
              // Result
              this.signUpEmail = ""
              this.signUpPassword = ""
              this.signUpPasswordConfirm = ""
              this.signUpError = "Success"
            }).catch((error) => {
                // Error
                // When same email but different password
                this.signUpError = error.message
                this.signUpPassword = ""
                this.signUpPasswordConfirm = ""
              })         
        

      }
  },
  fragments: gql`fragment StoreInfo on Store {
    id
    name
    description
    cover
  }
  `,
}
</script>

