<template>
  <!-- menu -->
  <section id="menu-list"
           class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Chào mừng, hãy chọn cách gọi món</h1>
          <p class="header-p">Nhập mã bàn mà cửa hàng cung cấp cho bạn hoặc quét mã QR</p>
        </div>
        <div class="col-md-12  text-center gallery-trigger">
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputName2" class="table-code">Mã bàn</label>
              <input type="text" class="form-control code-input" id="exampleInputName2" v-model="$route.params.storeId" placeholder="ADSIFN29183">
            </div>
          </form>
          <div class="nextAction">
            <a v-if="!user" class="btn btn-lg btn-login" data-toggle="modal" data-target="#loginModal">
                <span class="main">Đăng nhập - Đăng ký</span>
                <br />
                <em class="detail">Có tài khoản giúp bạn dễ dàng lưu lại lịch sử hàng/quán của mình!</em>
            </a>
            <router-link :to="{ name: 'Store', params: { storeId: $route.params.storeId }}" class="btn btn-lg btn-login" >
                <span class="main">Chọn món ngay!</span>
                <br />
                <em class="detail">Bạn không cần đăng nhập để có thể gọi món</em>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ menu -->
</template>
<script>
export default {
  name: 'SelectedFood',
  computed: {
    user() {
      return JSON.parse(window.localStorage.getItem('user'))
    }
  }
}
</script>
<style>
.table-code {
  font-size: 2em;
}
.code-input {
  padding-bottom: 25px;
  line-height: 30px;
  font-size: 1.7em;
}
</style>