<template>
  <!-- menu -->
  <section id="menu-list" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Các món đã chọn</h1>
        </div>
        <!--<div class="col-md-12  text-center gallery-trigger">
          <ul>
            <li><a class="filter" data-filter="all">Show All</a></li>
            <li v-for="cat in listCategory"><a class="filter" :data-filter="'.'+cat">{{cat}}</a></li>
          </ul>
        </div>-->
        <div id="Container">
          <div class="menu-restaurant" :class="[food.category]" v-for="(food, index) in foodOrder" v-if="food.quanlity > 0" data-myorder="2">
            <span class="clearfix">
              <a class="menu-title">{{food.name}}</a>
              <span style="left: 200px; right: 100px;" class="menu-line"></span>
              <span class="menu-control">
                <button @click="increaseFood(index)" class="btn btn-menu"><i class="fa fa-plus" aria-hidden="true"></i> THÊM</button>
                <button @click="decreaseFood(index)" class="btn btn-menu"><i class="fa fa-minus" aria-hidden="true"></i> GIẢM</button>
              </span>
              <span class="menu-price">{{food.quanlity}}x{{food.price | money}} đ</span>
            </span>
          </div>
          <div class="menu-restaurant total">
            <span class="clearfix">
              <a class="menu-title">Tổng cộng</a>
              <span style="left: 160px; right: 100px;" class="menu-line"></span>
              <span class="menu-price">{{totalPrice | money}} đ</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="container action">
      <div class="col-xs-6 center help ">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <a onclick="$('#event').animatescroll();" class="direct">Kéo xuống dưới để chọn món ăn </a>
      </div>
      <div class="col-xs-6 center">
        <a class="btn big-btn btn-show" data-toggle="modal" data-target="#confirmModal"> Gọi món <i class="fa fa-cutlery" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="modal fade"
         id="confirmModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel">
      <div class="modal-dialog"
           role="document">
        <div class="modal-content text-center">
          <h2>Xác nhận</h2>
          <img src="/static/img/sign-in.png"
                alt="">
          <h4>Bạn thật sự muốn gọi món chứ?</h4>
          <div class="modal-body">
            <u>Thêm ghi chú</u>
            <div class="form-group">
              <textarea class="form-control" rows="6" v-model="notes" placeholder="Ghi chú cho các món bạn muốn gọi"></textarea>
            </div>
            <button class="btn btn-warning" v-on:click="createYourOrder">Xác nhận</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Gọi thêm</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ menu -->
</template>
<script>
import { money } from '../ultis/filter'
import { unionBy } from 'lodash'
import gql from 'graphql-tag'
import Vue from 'vue'
const token = window.localStorage.getItem('token');
window.user = {}

let mixer = null

export default {
  name: 'SelectedFood',
  props: ['foodOrder'],
  data() {
    return {
      mixer: null,
      notes: null,
    }
  },
  computed: {
    listCategory() {
      return unionBy(this.foodOrder, 'category').map(_ => _.category)
    },
    totalPrice() {
      let total = 0
      this.foodOrder.forEach(function(food) {
        total += food.price*food.quanlity
      })
      return total
    },
    user() {
      return JSON.parse(window.localStorage.getItem('user'))
    },
  },
  filters: {
    money,
  },
  methods: {
    createYourOrder: function() {
      //console.log(this.foodOrder.length)
      if(this.foodOrder.length > 0){
          this.$apollo.mutate({
              mutation: gql` mutation test($input: CreateOrderInput!){
                createOrder(input:$input){
                  id
                  foodList{
                    quanlity
                    status
                    food{
                      id
                      name
                      price
                      status
                    }
                  }
                  note
                  createdAt
                  updatedAt
                }
              }`,
              variables: {
                "input": {
                  "note": this.notes,
                  "customerId": this.user.id,
                  "storeId": this.$route.params.storeId,
                  "foodList": this.foodOrder.filter(_ => _.quanlity > 0).map((_) => {
                      return {
                        foodId: _.foodId,
                        status: 'WAITING',
                        quanlity: _.quanlity
                      }
                    })
                }
              },
            }).then((res) => {
              // Result
              const orderId = res.data.createOrder.id;
              $('#confirmModal').modal('hide')
              this.$router.push({ name: 'Order', params: { orderId }})
            }).catch((error) => {
              // Error
              alert(error)
            })
      }
    },
    increaseFood: function (idx) {
      return this.foodOrder[idx].quanlity = this.foodOrder[idx].quanlity + 1;
    },
    decreaseFood: function (idx) {
      return this.foodOrder[idx].quanlity = this.foodOrder[idx].quanlity - 1;
    }
  },
}
</script>
<style>
.total {
  width: 100%;
}
.action {
  padding-top: 20px;
  font-size: 1.2em; 
  font-family: 'Lobster', sans-serif;

}
.direct {
  cursor: pointer;
}
.center {
  text-align: center;
}
#menu-list {
  padding-bottom: 20px;
}
.big-btn {
  font-size: 1.2em;
  padding: 15px;
}
.help {
  padding-top: 15px;
}
</style>