<template>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Những dịch vụ của chúng tôi</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Đăng tải món ăn</h3>
                        <p class="text-muted">Cho phép chủ cửa hàng đăng tải món ăn : gọn nhẹ, đầy đủ, chi tiết, đầy tính hấp dẫn</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Xem Order</h3>
                        <p class="text-muted">Giúp khách hàng có thể xem order một cách trực quan, hỗ trợ mọi thiết bị, cập nhật thông tin order nhanh chóng</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Cập nhật thông tin cửa hàng</h3>
                        <p class="text-muted">Bạn sẽ luôn cập nhật được thông tin cửa hàng của mình một cách trực quan, khả năng sinh mã QR để in ấn</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Nhận công cụ và hỗ trợ 
doanh số tối đa</h3>
                        <p class="text-muted">Công cụ xem danh sách order sẽ giúp bạn quản lí order của mình, giúp tăng doanh số và hiệu quả làm việc</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<style scoped src="../../static/css/creative.min.css"></style>
<script>
export default {
  name: 'services',
}
</script>
