<template>
  <div>
    <cover :store-info="storeInfo"></cover>
    <selected-food :food-order="foodOrder"></selected-food>
    <food-list :food-list="foodList"  :food-order="foodOrder"></food-list>
    <contact :contact-info="contactInfo"></contact>
    <bottom-info></bottom-info>
    
  </div>
</template>
<script>
import gql from 'graphql-tag'
import { filter } from 'graphql-anywhere'
import Cover from './Cover'
import BottomInfo from './BottomInfo'
import SelectedFood from './SelectedFood'
import FoodList from './FoodList'
import Contact from './Contact'

// {
//   foodId
//   name
//   category
//   price
//   quanlity
// }

const token = window.localStorage.getItem('token')

let foodOrder = []

export default {
  apollo: {
    store: {
      query() {
        return gql` {
          customer (token: "${token}") {
            store(id: "${this.$route.params.storeId}") {
              ...ListFood
              ...StoreInfo
              ...Contact
            }
          }
        }
        ${FoodList.fragments}
        ${Cover.fragments}
        ${Contact.fragments}
        `
      },
      update(data) {
        return data.customer.store
      },
    }
  },
  data() {
    return {
      store: null,
      foodOrder,
    }
  },
  computed: {
    storeInfo() {
      return !!this.store && filter(Cover.fragments, this.store)
    },
    foodList() {
      return !!this.store && filter(FoodList.fragments, this.store)
    },
    contactInfo() {
      return !!this.store && filter(Contact.fragments, this.store)
    }
  },
  components: {
    Cover,
    BottomInfo,
    SelectedFood,
    FoodList,
    Contact,
  }
}
</script>