body {
  position: relative;
}
.item {
  background-color: rgba(14, 4, 4, 0.70);
}
.list-food {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.list-food .container {
  background-color: white;
  margin-bottom: 0;
  border-radius: 4px 4px 0px 0px;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #FE6E1A;
  padding: 10px;
}
.btn-show {
  margin-top: 0px;
  background: rgb(255, 176, 59);
  padding: 8px 19px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 3px;
  color: #fff;
}
.btn-show:hover {
  background: #FE6E1A;
  color: #fff;
}
.bottom-title {
  font-size: 20px;
  line-height: 15px;
  padding-top: 10px;
  color: #717f86;
  font-family: 'Open Sans', sans-serif;
}
.bottom-title strong {
  color: rgb(255, 176, 59);
}
.btn-review {
    background: #797B92;
    padding: 7px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 3px;
    color: #000;
    text-transform: uppercase;
    margin-top: 10px;
}
.btn-review:hover
{
    color: #000;
}
#show {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
}
.showed-model {
    overflow: hidden;
}
.btn-login {
  margin-top: 40px;
  border-color: rgb(255, 176, 59);
  border-radius: 0px;
  color: rgb(255, 176, 59);
  background: RGBA(0, 0, 0, 0.41);
}
.btn-login:hover {
  border-color: rgb(255, 176, 59);
  color: rgb(255, 176, 59);
}
.btn-login .main {
  color: rgb(255, 176, 59);
  font-size: 1.4em;
}
.btn-login .detail {
  font-size: 14px;
  color: #fff;
}
.food {
  min-height: 400px;
}
.modal-content h2 {
  font-family: 'Lobster', sans-serif;
  font-size: 50px;
  color: #FFB03B;
}
.menu-control {
  display: block;
  float: left;
  color: #B1B1B1;
}
.btn-menu {
  background-color: transparent;
  padding: 0px;
  font-size: 12px;
  padding: 0px 6px;
}